{{ partial "header.html" . }}
<header>
{{ if (gt .Params.date 0) }}<p>{{ .Site.Title }} / {{ .Date.Format "2006-01-02" }}</p>{{ end }}
</header>
<main>
<div>
<h1><span class="title">{{ .Title | markdownify }}</span></h1>
</div>
{{ .Content }}
</main>

<p>
{{ range .Params.archives }}
<a href="{{ "/archives/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
{{ end }} 
Tags: 
{{ range .Params.tags }}
 <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
{{ end }}
</p>

{{ partial "footer.html" . }}
